@mixin H1Font {
    font-family: "Roboto", sans-serif;
    font-size: 3rem !important;
  }
  
  @mixin H2Font {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem !important;
  }
  
  @mixin H3Font {
    font-family: "Roboto", sans-serif;
    font-size: 2rem !important;
  }
  
  @mixin H4Font {
    font-family: "Roboto", sans-serif !important;
    font-size: 1.5rem !important;
  }
  
  @mixin H5Font {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
  
  @mixin H6Font {
    font-family: "Roboto", sans-serif;
    font-size: 0.5rem;
  }
  
  @mixin pFont {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5rem;
    letter-spacing: 0rem;
  }
  